@font-face { font-family: BelgianoSerif; src: url("../fonts/belgiano_serif/Belgiano\ Serif\ 2.otf"); } 
@font-face { font-family: ComfortaaLight; src: url("../fonts/comfortaa/Comfortaa-Light.ttf"); } 

/* RESET Y ESTILOS GLOBALES */
*       {margin: 0; padding: 0; color: black;}
li      {list-style: none;}
a       {text-decoration: none;}
body    {background-color: lightgray;}
main    {background-color: rgba(3, 161, 3, 0.847);}

/* ================================= HEADER ================================= */
header{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: white;
    z-index: 3;
    align-items: center;
    justify-content: space-between;
}

header a{
    display: flex;
}

/* LOGO */
.logo{
    margin-left: 40px;
    align-items: center;
}

.nombre{
    font-family: BelgianoSerif;
    font-size: 48px;
}

.imagen{
    width: 64px;
}

/* NAVEGADOR */
.navegador{
    margin-right: 20px;
    text-align: center;
    align-items: center;
}

nav li{ 
    margin-right: 15px;
    padding: 5px;
    font-weight: 600;
    display: inline-block;
}

nav li a{
    font-family: ComfortaaLight;
}

nav li a:hover{
    color: gray;
}

#selected-page{
    color: rgb(22, 218, 26);
}

/* ================================= FOOTER ================================= */
footer {
    padding: 1rem;
    display: flex;
    text-align: center;
    background-color: white;
    align-items: center;
    justify-content: center;
}

footer p{
    color: black;
}

.redes-sociales{
    margin-left: 30px;
}

.redes-sociales img {
    width: 35px;
    padding-left: 10px;
}

/* ================================= MAIN: INDEX ================================= */
.index main{
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
}

/* SECCIÓN 1 */
.container-sec1{
    display: inline-flex;
    margin-bottom: 60px;
    margin-left: 10%;
}

/* Imagen */
.img-sec1 img{
    width: 350px;
    border: 10px solid white;
    border-radius: 25px;
}

/* Título y Descripción*/
.text-sec1 {
    margin-left: 5%;
    padding-top: 40px;
    color: white;
    padding-right: 10%;
}

/* Título */
.text-sec1 h1{
    font-family: sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 4px 4px 0px rgba(250, 250, 250, 0.5);
}

/* Descripción */
.text-sec1 p{
    font-family: sans-serif;
    font-size: 50px;
    padding-top: 40px;
    color: white;
}

/* SECCIÓN 2 */
.container-sec2{
    margin-bottom: 20px;
}

.img-sec2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
} 

/* Imagen */
.img-sec2 img{
    width: 300px;
    margin: 30px;
    border: 10px solid white;
    border-radius: 25px;
}

/* Título y Descripción*/
.text-sec2 {
    padding-top: 30px;
    text-align: center;
    color: white;
}

/* Título */
.text-sec2 h2{
    font-family: sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 4px 4px 0px rgba(250, 250, 250, 0.5);
}

/* Descripción */
.text-sec2 p{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 40px;
}

/* ================================= MAIN: JARDINES ================================= */

/*
.jardines header{
    background-color: white;
}

.jardines main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: sans-serif;
}

.jardines h1{
    font-size: 100px;
    font-family: sans-serif;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 0px rgba(250, 250, 250, 0.5);
}

.jardines .row{
    background-color: red;
}

.jardines .container{
    background-color: rgba(0, 209, 0, 0.847);
}

.jardines .container img{
    width: 300px;
    border: 8px solid white;
    border-radius: 60px;
}
*/

/* ================================= MAIN: FAQ ================================= */
.faq main{
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: sans-serif;
}

/* ================================= MAIN: NOSOTROS ================================= */
.nosotros main{
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: sans-serif;
}

.container-nos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 80px;
    margin-block: 80px;
}

/* Título y Descripción */
.nosotros main .text{
    margin-right: 100px;
    text-align: justify;
}
/* Título */
.nosotros main h1{
    font-size: 100px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 0px rgba(250, 250, 250, 0.5);
}
/* Descripción */
.nosotros main p{
    font-size: 30px;
    color: white;
}

/* Imagen */
.nosotros .image{
    display: flex;
    align-items: center;
}

.nosotros .image img{
    width: 300px;
    border: 10px solid white;
    border-radius: 25px;

}

/* Links */
.nosotros .links{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.nosotros .links:hover{
    color: rgba(237, 237, 237, 0.738);
}

/* ================================= MAIN: CONTACTO ================================= */
.contacto main{
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: sans-serif;
    text-align: center;
}

/* Título */
.contacto main h1{
    font-size: 100px;
    color: white;
    text-shadow: 4px 4px 0px rgba(250, 250, 250, 0.5);
}

/* Descripción */
.contacto main p{
    margin-block: 10px 40px;
    font-size: 40px;
    color: white;
}

/* FORMULARIO */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: white;
}

input, textarea {
    font-family: sans-serif;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 15px;
    resize: none;
}

input::placeholder, textarea::placeholder{
    font-size: 15px;
}

button {
    padding: 15px 20px;
    font-size: 15px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
}