.faq{
    .padding-custom{
        padding-top: $padding-jar-faq-nos-con;
    }

    h1{
        @include h1-jar-faq-nos-con;
    }

    .width-custom{
        width: 75%;
    }

    .accordion-item-custom{
        font-family: MontserratRegular;
        text-shadow: 1px 1px 0px black;
        border-bottom: 1px solid white;
        box-shadow: none;
        color: black;
        background-color: transparent;
    }
    
    .accordion-button-custom{
        font-size: 19px;
        text-shadow: 1px 1px 0px black;
        color: white;
        background-color: transparent;
    
        &:focus{
            box-shadow: none;
        }
    
        &:not(.collapsed){
            box-shadow: none;
            background-color: rgb(0, 0, 0, 0.3);
        }

        &::after{
            background-image: url(../media/imgs/otros/flecha.png);
        }
    }
    
    .accordion-body-custom{
        font-size: 18px;
        text-align: justify;
        color: white;

        &:not(.collapsed){
            background-color: rgb(0, 0, 0, 0.1);
        }
    }

    .accordion-collapse-custom{
        &:last-child{
            border-radius: 0;            
        }
    }

    .links{
        font-weight: bold;
        color: #A2FF00;
        
        &:hover{
            text-decoration: underline;
        }
    }

    @media (max-width: 991.98px){
        .padding-custom{
            padding-top: 94px;
        }
        h1{
            font-size: 48px;
        }
        .width-custom{
            width: 90%;
        }
    } 
    @media (max-width: 575.98px){
        .width-custom{
            width: 100%;
        }
        h1{
            font-size: 40px;
            margin-inline: 5%;
        }
        .accordion-button-custom{
            font-size: 18px;
        }
        .accordion-body-custom{
            font-size: 16px;
        }
    }
    @media (max-width: 404.98px){
        .accordion-button-custom{
            font-size: 16px;
        }
        .accordion-body-custom{
            font-size: 14px;
        }
    }
} 