.faq{
    .padding-custom{
        padding-top: 140px;
    }

    h1{
        @include h1-jar-faq-nos-con;
    }

    .width-custom{
        width: 75%;
    }

    .accordion-item-custom{
        font-family: ComfortaaLight;
        color: black;
        border-bottom: 1px solid white;
        box-shadow: none;
    }

    .accordion-header-custom{
        background-color: $color-fondo;
    }
    
    .accordion-button-custom{
        font-size: 20px;
        text-shadow: 1px 1px 1px black;
        color: white;
        background-color: $color-fondo;
    
        &:focus{
            box-shadow: none;
        }
    
        &:not(.collapsed){
            background-color: #138044;
            box-shadow: none;
        }
    }
    
    .accordion-body-custom{
        font-size: 18px;
        text-align: justify;
        text-shadow: 1px 1px 1px black;
        color: white;
        background-color: #179951;
    }

    .accordion-collapse-custom{
        &:last-child{
            border-radius: 0;            
        }
    }

    .links{
        font-weight: bold;
        color: #A2FF00;
        
        &:hover{
            text-decoration: underline;
        }
    }

    @media (max-width: 991.98px){
        .padding-custom{
            padding-top: 110px;
        }
        h1{
            font-size: 48px;
        }
        .width-custom{
            width: 90%;
        }
    } 
    @media (max-width: 575.98px){
        .padding-custom{
            padding-top: 110px;
        }
        .width-custom{
            width: 100%;
        }
        h1{
            font-size: 40px;
            margin-inline: 5%;
        }
        .accordion-button-custom{
            font-size: 18px;
        }
        .accordion-body-custom{
            font-size: 16px;
        }
    }
    @media (max-width: 404.98px){
        .accordion-button-custom{
            font-size: 16px;
        }
        .accordion-body-custom{
            font-size: 14px;
        }
    }
} 