@font-face{ 
    font-family: BelgianoSerif; 
    src: url("../fonts/BelgianoSerif/Belgiano-Serif-2.otf"); 
}

@font-face{ 
    font-family: ComfortaaLight; 
    src: url("../fonts/Comfortaa/static/Comfortaa-Light.ttf"); 
}

@font-face{
    font-family: MontserratRegular;
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf"); 
}

@font-face{
    font-family: EBGaramondMedium;
    src: url("../fonts/EB-Garamond/static/EBGaramond-Medium.ttf"); 
}