*{
    margin: 0; 
    padding: 0; 
    color: black;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

html, body{
    max-width: 100%;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    background: $gradiente-fondo;
    background-color: #125630;
}

main{
    background: $gradiente-fondo;
}