$color-fondo: #1AA95F;

@mixin h1-faq-nos-con{
    font-family: sans-serif;
    font-size: 5vw;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 0px black;
}

*{
    margin: 0; 
    padding: 0; 
    color: black;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

html, body{
    max-width: 100%;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    background-color: $color-fondo;
}

main{
    background-color: $color-fondo;
}