.jardines{
    .padding-custom{
        padding-top: $padding-jar-faq-nos-con;
    }

    h1{
        @include h1-jar-faq-nos-con;
    }

    .jardin-custom{
        width: 19rem;
        transition: all 0.25s;
        border: 2px solid white;

        &:hover{
            transform: scale(1.05);
            border: 2px solid black;
            box-shadow: 0px 0px 0px 1px white;
            cursor: pointer;
        }
    }

    .title-custom{
        font-family: BelgianoSerif;
        font-size: 30px;
    }

    .desc-custom{
        font-family: sans-serif;
        font-size: 15px;
    }

    .price-custom{
        font-family: BelgianoSerif;
        font-size: 24px;
    }

    @media (min-width: 1199.98px){
        .title-custom{
            font-size: 36px;
        }
        .price-custom{
            font-size: 30px;
        }
    }
    @media (max-width: 991.98px){
        .padding-custom{
            padding-top: 94px;
        }
        h1{
            font-size: 48px;
        }
    }
    @media (min-width: 767.98px) and (max-width: 991.98px){
        .title-custom{
            font-size: 28px;
        }
        .desc-custom{
            font-size: 14px;
        }
        .price-custom{
            font-size: 22px;
        }
    }
    @media (max-width: 374.98px){
        .jardin-custom{
            width: 16rem;
        }
    }
}