@mixin bg-index{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid white;
        z-index: -1;
    }
}

@mixin text-index{
    h1, h2{
        text-shadow: 4px 4px 1px black;
        color: white;
    }

    p{
        font-family: sans-serif;
        text-shadow: 2px 2px 1px black;
        color: white;
    }
}

@mixin h1-jar-faq-nos-con{
    font-family: MontserratRegular;
    font-size: 5vw;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 0px black;
}