.nosotros{
    .padding-custom{
        padding-top: 140px;
    }

    h1{
        @include h1-jar-faq-nos-con;
    }

    .section-text{
        font-family: sans-serif;
        font-size: 21px;
        text-align: justify;
        text-shadow: 1px 1px 1px black;

        p{
            font-family: MontserratRegular;
            margin-inline: 5%;
            color: white;
        }
    }

    .section-img img{
        width: 23vw;
        margin-bottom: 0px;
        border: 3px solid white;
        border-radius: 10px;
    }

    .links{
        font-weight: bold;
        color: #A2FF00;
        
        &:hover{
            text-decoration: underline;
        }
    }

    @media (min-width: 1440.98px){
        .section-text p{
            font-size: 1.5vw;
        } 
        .section-img img{
            width: 24vw;
        }
    }
    @media (min-width: 991.98px) and (max-width: 1440.98px){
        .section-text p{
            font-size: 1.5vw;
        } 
        .section-img img{
            width: 23vw;
        }
    }
    @media (max-width: 991.98px){
        .padding-custom{
            padding-top: 110px;
        }
        h1{
            font-size: 48px;
        }
        .section-text{
            margin-bottom: 25px;
        }
        .section-img img{
            width: 38vw;
        }
    }
    @media (min-width: 404.98px) and (max-width: 767.98px){
        h1{
            margin-inline: 5%;
        }
        .section-img img{
            width: 60vw;
        }
    }
    @media (max-width: 404.98px){
        h1{
            font-size: 40px;
            margin-inline: 5%;
        }
        .section-text p{
            font-size: 16px;
        }
        .section-img img{
            width: 70vw;
        }
    }
}