.faq{
    .padding-custom{
        padding-block: 140px 140px;
    }

    h1{
        @include h1-faq-nos-con;
    }

    .width-custom{
        width: 75%;
    }

    .margin-top-custom{
        margin-top: 50px;
    }

    .accordion-item-custom{
        font-family: ComfortaaLight;
        color: black;
        border-bottom: 1px solid white;
        box-shadow: none;

        &:focus{
            border: none;
            border-bottom-left-radius: 0%;
        }
    }

    .accordion-header-custom{
        background-color: $color-fondo;
    }
    
    .accordion-button-custom{
        font-size: 20px;
        color: white;
        background-color: $color-fondo;
    
        &:active{
            background-color: rgba(0, 0, 0, 0.1);
        }
    
        &:focus{
            box-shadow: none;
        }
    
        &:not(.collapsed){
            background-color: rgba(0, 0, 0, 0.1);
            box-shadow: none;
        }

        &::after{
            background-image: url(../../imgs/flecha.png);
        }
    }
    
    .accordion-body-custom{
        font-size: 18px;
        text-align: justify;
        color: white;
        background-color: $color-fondo;
        box-shadow: none;

        &:not(.collapsed){
            box-shadow: none;
        }
    }

    .accordion-collapse-custom{
        &:last-child{
            border-radius: 0;            
        }
    }

    .links{
        text-decoration: underline;
        font-weight: bold;
        color: rgb(26, 255, 0);
        
        &:hover{
            color: rgba(5, 219, 1, 0.738);
        }
    }

    @media (max-width: 575.98px){
        .padding-custom{
            padding-block: 110px 240px;
        }
    
        .margin-top-custom{
            margin-top: 0px;
        }
    
        .width-custom{
            width: 100%;
        }
    
        h1{
            font-size: 48px;
        }
    
        .accordion-button-custom{
            font-size: 18px;
        }
    
        .accordion-body-custom{
            font-size: 16px;
        }
    }
} 