@font-face{ 
    font-family: BelgianoSerif; 
    src: url("../fonts/belgiano_serif/Belgiano\ Serif\ 2.otf"); 
}

@font-face{ 
    font-family: ComfortaaLight; 
    src: url("../fonts/comfortaa/Comfortaa-Light.ttf"); 
}