.nosotros{
    .padding-custom{
        padding-top: 140px;
    }

    h1{
        @include h1-faq-nos-con;
    }

    .section-text{
        font-family: sans-serif;
        font-size: 25px;
        text-align: justify;
        color: white;
    }

    .section-text-left, .section-text-right{
        p{
            @extend .section-text;
            margin-inline: 5%;
        }
    }

    .section-img{
        img{
            width: 25vw;
            border: 5px solid white;
            border-radius: 30px;
            margin-bottom: 0px;
        }
    }

    @media (max-width: 991.98px){
        .padding-custom{
            padding-top: 110px;
        }
    
        .section-text-left, .section-text-right, .section-img img{
            margin-bottom: 50px;
        }
    }
    @media (min-width: 404.98px) and (max-width: 767.98px){
        .section-img img{
            width: 250px;
            border: 5px solid white;
            border-radius: 25px;
        }
    }
    @media (min-width: 405.98px) and (max-width: 575.98px){
        h1{
            font-size: 48px;
        }
    }
    @media (max-width: 404.98px){
        h1{
            font-size: 40px;
        }
    
        .section-text-left p, .section-text-right p{
            font-size: 15px;
        }
    
        .section-img img{
            width: 200px;
            border: 5px solid white;
            border-radius: 25px;
        }
    }
}