@font-face {
  font-family: BelgianoSerif;
  src: url("../fonts/BelgianoSerif/Belgiano-Serif-2.otf");
}
@font-face {
  font-family: ComfortaaLight;
  src: url("../fonts/Comfortaa/static/Comfortaa-Light.ttf");
}
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  color: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  max-width: 100%;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1AA95F;
}

main {
  background-color: #1AA95F;
}

header a {
  font-family: BelgianoSerif;
}
header li a {
  font-family: ComfortaaLight;
}
header .nav-custom, header .navbar-custom {
  background-color: white;
  opacity: 0.95;
}
header .logo {
  display: flex;
  margin-left: 20px;
  align-items: center;
}
header .logo .logo-texto {
  font-size: 50px;
  margin: 0;
}
header .logo .logo-imagen {
  width: 64px;
}
header .ul-custom {
  font-size: 17px;
  margin: 5px 20px 0 0;
}
header .ul-custom .enlace-custom {
  color: black;
}
header .ul-custom .enlace-custom:hover {
  color: gray;
}
header #selected-page {
  color: rgb(22, 218, 26);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header .logo {
    margin-left: 10px;
  }
  header .logo .logo-texto {
    font-size: 35px;
  }
  header .logo .logo-imagen {
    width: 56px;
  }
  header .ul-custom {
    font-size: 15px;
    margin: 5px 10px 0 0;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header .logo {
    margin-left: 10px;
  }
  header .logo .logo-texto {
    font-size: 35px;
  }
  header .logo .logo-imagen {
    width: 48px;
  }
}
@media (min-width: 349.98px) and (max-width: 575.98px) {
  header .logo {
    margin-left: 5px;
  }
  header .logo .logo-texto {
    font-size: 35px;
  }
  header .logo .logo-imagen {
    width: 48px;
  }
}
@media (max-width: 349.98px) {
  header .logo {
    margin-left: 5px;
  }
  header .logo .logo-texto {
    font-size: 30px;
  }
  header .logo .logo-imagen {
    width: 40px;
  }
}

.index .padding-custom {
  padding-top: 140px;
}
.index .section1-right {
  padding-left: 60px;
}
.index .section1-right h1 {
  font-size: 8vw;
  color: white;
  text-shadow: 4px 4px 0px rgba(250, 250, 250, 0.5);
}
.index .section1-right p {
  font-family: sans-serif;
  font-size: 2.7vw;
  color: white;
}
.index .section1-left img {
  width: 30vw;
  border: 8px solid white;
  border-radius: 25px;
}
.index .bg-custom2 {
  background-color: #1ebf6c;
}
.index .section2 h2 {
  font-size: 7vw;
  margin-top: 20px;
  color: white;
  text-shadow: 4px 4px 0px rgba(250, 250, 250, 0.5);
}
.index .section2 p {
  font-family: sans-serif;
  font-size: 2.4vw;
  margin-block: 20px 4rem;
  color: white;
}
.index .section2 img {
  border: 4px solid white;
  border-radius: 4px;
}
.index .carousel-width-custom {
  width: 50%;
}
@media (max-width: 991.98px) {
  .index .padding-custom {
    padding-top: 110px;
  }
}
@media (min-width: 767.98px) and (max-width: 1083.98px) {
  .index .section1-right {
    padding-left: 35px;
  }
  .index .section1-right h1 {
    font-size: 8.5vw;
  }
  .index .section1-right p {
    font-size: 2.8vw;
    padding-top: 20px;
  }
  .index .section2 img {
    border: 8px solid white;
    border-radius: 10px;
  }
  .index .section2 p {
    font-size: 3vw;
    margin-block: 20px 3rem;
  }
}
@media (min-width: 404.98px) and (max-width: 767.98px) {
  .index .section1-left img {
    width: 250px;
    border: 5px solid white;
    border-radius: 25px;
  }
  .index .section1-right {
    padding-left: 10px;
  }
  .index .section1-right h1 {
    font-size: 8vw;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(250, 250, 250, 0.5);
  }
  .index .section1-right p {
    font-size: 4vw;
    padding-top: 20px;
    text-align: center;
  }
  .index .section2 img {
    border: 8px solid white;
    border-radius: 10px;
  }
  .index .section2 h2 {
    font-size: 7vw;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(250, 250, 250, 0.5);
  }
  .index .section2 p {
    font-size: 4vw;
    margin-block: 20px 3rem;
    text-align: center;
  }
  .index .carousel-width-custom {
    width: 80vw;
  }
}
@media (max-width: 404.98px) {
  .index .section1-left img {
    width: 200px;
    border: 5px solid white;
    border-radius: 25px;
  }
  .index .section1-right {
    padding-left: 3px;
  }
  .index .section1-right h1 {
    font-size: 10vw;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(250, 250, 250, 0.5);
  }
  .index .section1-right p {
    font-size: 4.1vw;
    padding: 20px 0 0 10px;
    text-align: center;
  }
  .index .section2 img {
    border: 5px solid white;
    border-radius: 10px;
  }
  .index .section2 h2 {
    font-size: 9vw;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(250, 250, 250, 0.5);
  }
  .index .section2 p {
    font-size: 4.5vw;
    margin-block: 20px 3rem;
    text-align: center;
  }
  .index .carousel-width-custom {
    width: 100vw;
  }
}

.jardines .padding-custom {
  padding-top: 140px;
}
.jardines h1 {
  font-family: sans-serif;
  font-size: 5vw;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0px black;
}
.jardines .jardin-custom {
  width: 19rem;
  transition: all 0.25s;
  border: 3px solid white;
}
.jardines .jardin-custom:hover {
  transform: scale(1.05);
  border: 5px solid black;
  cursor: pointer;
}
.jardines .title-custom, .jardines .price-custom {
  font-family: BelgianoSerif;
  font-size: 30px;
}
.jardines .desc-custom {
  font-family: sans-serif;
  font-size: 15px;
}
@media (max-width: 991.98px) {
  .jardines .padding-custom {
    padding-top: 110px;
  }
  .jardines h1 {
    font-size: 48px;
  }
}
@media (min-width: 767.98px) and (max-width: 967.98px) {
  .jardines .title-custom {
    font-size: 22px;
  }
  .jardines .desc-custom {
    font-size: 11px;
  }
  .jardines .price-custom {
    font-size: 20px;
  }
}
@media (max-width: 374.98px) {
  .jardines .jardin-custom {
    width: 15rem;
  }
}

.faq .padding-custom {
  padding-top: 140px;
}
.faq h1 {
  font-family: sans-serif;
  font-size: 5vw;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0px black;
}
.faq .width-custom {
  width: 75%;
}
.faq .accordion-item-custom {
  font-family: ComfortaaLight;
  color: black;
  border-bottom: 1px solid white;
  box-shadow: none;
}
.faq .accordion-header-custom {
  background-color: #1AA95F;
}
.faq .accordion-button-custom {
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
  color: white;
  background-color: #1AA95F;
}
.faq .accordion-button-custom:focus {
  box-shadow: none;
}
.faq .accordion-button-custom:not(.collapsed) {
  background-color: #138044;
  box-shadow: none;
}
.faq .accordion-body-custom {
  font-size: 18px;
  text-align: justify;
  text-shadow: 1px 1px 1px black;
  color: white;
  background-color: #179951;
}
.faq .accordion-collapse-custom:last-child {
  border-radius: 0;
}
.faq .links {
  font-weight: bold;
  color: #A2FF00;
}
.faq .links:hover {
  text-decoration: underline;
}
@media (max-width: 991.98px) {
  .faq .padding-custom {
    padding-top: 110px;
  }
  .faq h1 {
    font-size: 48px;
  }
  .faq .width-custom {
    width: 90%;
  }
}
@media (max-width: 575.98px) {
  .faq .padding-custom {
    padding-top: 110px;
  }
  .faq .width-custom {
    width: 100%;
  }
  .faq h1 {
    font-size: 40px;
    margin-inline: 5%;
  }
  .faq .accordion-button-custom {
    font-size: 18px;
  }
  .faq .accordion-body-custom {
    font-size: 16px;
  }
}
@media (max-width: 404.98px) {
  .faq .accordion-button-custom {
    font-size: 16px;
  }
  .faq .accordion-body-custom {
    font-size: 14px;
  }
}

.nosotros .padding-custom {
  padding-top: 140px;
}
.nosotros h1 {
  font-family: sans-serif;
  font-size: 5vw;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0px black;
}
.nosotros .section-text {
  font-family: sans-serif;
  font-size: 21px;
  text-align: justify;
  text-shadow: 1px 1px 1px black;
}
.nosotros .section-text p {
  font-family: MontserratRegular;
  margin-inline: 5%;
  color: white;
}
.nosotros .section-img img {
  width: 23vw;
  margin-bottom: 0px;
  border: 3px solid white;
  border-radius: 10px;
}
.nosotros .links {
  font-weight: bold;
  color: #A2FF00;
}
.nosotros .links:hover {
  text-decoration: underline;
}
@media (min-width: 1440.98px) {
  .nosotros .section-text p {
    font-size: 1.5vw;
  }
  .nosotros .section-img img {
    width: 24vw;
  }
}
@media (min-width: 991.98px) and (max-width: 1440.98px) {
  .nosotros .section-text p {
    font-size: 1.5vw;
  }
  .nosotros .section-img img {
    width: 23vw;
  }
}
@media (max-width: 991.98px) {
  .nosotros .padding-custom {
    padding-top: 110px;
  }
  .nosotros h1 {
    font-size: 48px;
  }
  .nosotros .section-text {
    margin-bottom: 25px;
  }
  .nosotros .section-img img {
    width: 38vw;
  }
}
@media (min-width: 404.98px) and (max-width: 767.98px) {
  .nosotros h1 {
    margin-inline: 5%;
  }
  .nosotros .section-img img {
    width: 60vw;
  }
}
@media (max-width: 404.98px) {
  .nosotros h1 {
    font-size: 40px;
    margin-inline: 5%;
  }
  .nosotros .section-text p {
    font-size: 16px;
  }
  .nosotros .section-img img {
    width: 70vw;
  }
}

.contacto main {
  font-family: sans-serif;
  text-align: center;
  padding-block: 140px 40px;
}
.contacto h1 {
  font-family: sans-serif;
  font-size: 5vw;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 0px black;
}
.contacto form {
  max-width: 600px;
}
.contacto label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  color: white;
}
.contacto input, .contacto textarea, .contacto .form-select-custom {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-family: sans-serif;
  resize: none;
  border: none;
  border-radius: 3px;
}
.contacto input::placeholder, .contacto textarea::placeholder, .contacto .form-select-custom::placeholder {
  font-size: 15px;
}
.contacto hr {
  border-top: 2px solid white;
  opacity: 0.5;
}
.contacto p {
  text-shadow: 1px 1px 1px black;
  color: white;
}
.contacto .form-select-custom {
  margin-inline: 12px;
}
.contacto button {
  font-size: 15px;
  padding: 10px 20px;
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
}
.contacto button:hover {
  border: 1px solid black;
}
@media (max-width: 991.98px) {
  .contacto main {
    padding-block: 110px 40px;
  }
  .contacto h1 {
    font-size: 48px;
  }
}
@media (max-width: 374.98px) {
  .contacto input, .contacto textarea, .contacto .form-select-custom {
    font-size: 13px;
  }
}

footer {
  margin-top: auto;
  background-color: white;
}

.copyright {
  display: flex;
  justify-content: right;
  align-items: center;
}

.redes-sociales img {
  width: 50px;
  padding-left: 10px;
}

@media (max-width: 375px) {
  .copyright {
    font-size: 14px;
  }
  .redes-sociales img {
    width: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
